.container{
    display: grid;
        grid-template-columns: 85%, 15%;
        gap: 10px;  
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #FFFFFF; 
    background: #63B3ED;
    text-align: center;

    
    padding-bottom: 10px;
    grid-column: span 2; 
  }

.item1{
    padding-bottom: 20px;
}

main{
    grid-column: 1;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 100px;
}

.date{
    color: #718096;
}

h1 {
    font-size: 36px;
}

h2{
    font-size: 32px;
    color: #48BB78;
}

.struggle{
    float: right ;
    padding-bottom: 20px;
    padding-left: 10px;
}


.AboutNishaun{
    grid-column: 2;
    background-color: #E2E8F0;
    color: #000000;
    padding: 25px;
}

aside{
    grid-column: 2;
    padding: 15px;
}

body{
    font-size: 18px;
    color: #2D3748;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sansserif;
}

.Nishaun {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
}

.Overcomingstruggles{
    height: 250x;
    width: 255px;
    float: left;
    padding: 15px;
}

ul{
    list-style-type: none;
    padding: 0;
}

a{
    color: #4299E1;
}

footer {
    background-color: #2C5282;
    color: #FFFFFF;
    grid-column: 1 / 3;
